.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(0, 162, 255);
  color: white;
}

.Nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

p {
  background: yellow;
}
.pokemon-details{
  
  padding-left: 150px;
  padding-right: 150px;
}

.pokemon-list{

  padding:10px;
  margin:20px;
}

.pokemon-preview{
  margin:20px;
  padding:20px;
}


.container{
  display: flex;
  flex-flow: row wrap;
}